.listitem {
  display: flex;
  justify-content:space-between;
  margin-top: 18px;
}
.logo {
  height: 18px;
  margin-left: 17px;
}
.domain_url {
  font-size: 10px;
}
.title {
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.span {
  font-size: 10px;
}
.div1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button{
    border: none;
    background-color: transparent;
    cursor: pointer;
  
}